.searchBar {
    padding: 1rem;
    border: 0.3px solid #9199A3;
    border-radius: 1rem;
    width: 30rem;
    font-size: 1.35rem;
    transition: all 0.3s ease;
}

.searchBar:hover::placeholder {
    transform: translate(6px);
}

.searchBar:focus {
    outline: none;
}

@media screen and (max-width: 1024px) {
    .searchBar {
        width: 22rem;
    }
}

@media screen and (max-width: 768px) {
    .searchBar {
        width: 18rem;
    }
}

@media screen and (max-width: 480px) {
    .searchBar {
        width: 10rem;
    }
}